
.admin-app {
  display: flex;
  flex-direction: column; /* navbar on top */
  height: 100vh;
}

.admin-main {
  display: flex;
  flex: 1;
}

.admin-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9; /* light background for content area */
  overflow-y: auto;
}
