services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb+srv://doctoradmin:doctor123@cluster0.omsslkt.mongodb.net
      - CLOUDINARY_NAME=dczshcmtl
      - CLOUDINARY_API_KEY=227591654824287
      - CLOUDINARY_SECRET_KEY=i3MCk2UpnXxwqgbolsjdfb75bkY
      - ADMIN_EMAIL=admin@gmail.com
      - ADMIN_PASSWORD=admin1234
      - JWT_SECRET=doctoradmin
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      - VITE_BACKEND_URL=http://backend:4000
    restart: unless-stopped

  admin:
    build: ./admin
    container_name: admin
    ports:
      - "5174:80"
    depends_on:
      - backend
    environment:
      - VITE_BACKEND_URL=http://backend:4000
    restart: unless-stopped
