.AllAppointment-page {

    width: 55rem;      
  margin: 1.25rem; 
  margin-top: -37rem;
  margin-left: 17rem;
}

.AllAppointment-title {
    margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.AllAppointment-titles {
    display: grid;  margin-left: 2rem; 
    margin-right: 1rem;             
    grid-template-columns: 8fr 6fr 1fr ;
    grid-auto-flow: column;
    padding-top: 0.75rem;        
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;       
    padding-right: 1.5rem;
    border-bottom: 1px solid #e5e7eb;    
}

.AllAppointment-topics {
    background-color: white;  
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;      
  font-size: 0.875rem;    
  max-height: 80vh;         
  overflow-y: scroll; 
}

.AllAppointment {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.Appontmentimag {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.7rem;
}

.Appontment-topics {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #e5e7eb;
  gap: 0.5rem;
}

.Appontment-image-name {
    display: flex;
    margin-left: 1rem;
  align-items: center;
  gap: 0.5rem;
  
}

.Appontment-image {
    width: 2rem;       
  border-radius: 9999px;
}

.tick-image,
.cancel-image {
    width: 2.5rem;       
  cursor: pointer;
}

.tick-image.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Appointment-btn {
  display: flex;
}

.cancel {
    color: #f87171;      
  font-size: 0.75rem;  
  font-weight: 500;
}

.done {
  color: #71b5f8;      
  font-size: 0.75rem;  
  font-weight: 500;
}
.nameofpatent {
  color: #000;

  font-size: 20px;

}

.action {
  margin-right: 5rem;
}