.doctor-list-page {
  margin: 1.25rem;
  max-height: 90vh;
  overflow-y: scroll;
  margin-left: 17rem;
  margin-top: -37rem;
}

.doctor-list-page::-webkit-scrollbar {
  display: none;
}

.doctor-list-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;

}

.doctor-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1.5rem;
  padding-top: 1.25rem;
}

.doctor-card {
  border: 1px solid #c7d2fe;
  border-radius: 0.75rem;
  max-width: 14rem;
  overflow: hidden;
  cursor: pointer;

}


.image-box {
  background-color: #f1f5f9;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.image-box:hover {
  background-color: #ebedfc;
}

.doctor-image {
  width: 10rem;
  height: 13rem;
  margin-top: 2rem;
  margin-bottom: 0;
  object-fit: cover;
}

.doctor-info {
  padding: 1rem;
}

.doctor-name {
  color: #262626;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
}

.doctor-speciality {
  color: #52525b;
  font-size: 0.875rem;
}

.doctor-status {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
}