.doctor-list-page {
    margin: 1.25rem; /* m-5 = 20px */
  max-height: 90vh;
  overflow-y: scroll;
  margin-left: 17rem;
  margin-top: -37rem;
}

.doctor-list-page::-webkit-scrollbar {
  display: none;
}

.doctor-list-title {
    font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;

}

.doctor-list {
    width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;         /* gap-4 = 16px */
  row-gap: 1.5rem;   /* gap-y-6 = 24px */
  padding-top: 1.25rem;
}

.doctor-card {
    border: 1px solid #c7d2fe; /* border-indigo-200 */
  border-radius: 0.75rem;    /* rounded-xl */
  max-width: 14rem;          /* max-w-56 = 224px */
  overflow: hidden;
  cursor: pointer;

}


.image-box {
  background-color: #f1f5f9;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.image-box:hover {
    background-color: #ebedfc;
}

.doctor-image {
  width: 10rem;
  height: 13rem;
  margin-top: 2rem;
  margin-bottom: 0;
  object-fit: cover;
}

.doctor-info {
    padding: 1rem;
}

.doctor-name {
    color: #262626; /* text-neutral-800 */
  font-size: 1.125rem; /* text-lg = 18px */
  font-weight: 500;
  margin: 0;
}

.doctor-speciality {
    color: #52525b; /* text-zinc-600 */
  font-size: 0.875rem;
}

.doctor-status {
  display: flex;             /* flex */
  align-items: center;       /* items-center */
  gap: 0.25rem;              /* gap-1 */
  font-size: 0.875rem;
}